<body>
    <div class="container display-1">
        <div class="col-xl">
            <h2 class="<%= path === '/404' ? 'text-danger' : 'text-primary' %>" style="margin-top: 50px; text-align: center;"><%= pageTitle.toUpperCase() %></h2>
        </div>
    </div>