<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<%- include('../includes/page-header.ejs') %>
<main>
    <section class="search__main-container">
        <div class="row">
            <div class="find-method__container">

            </div>
        </div>
        <div class="row">
            <div class="filter-method__container">
    
            </div>
        </div>
        <div class="row">
            <div class="forEach-method__container">
    
            </div>
        </div>
        <div class="row">
            <div class="for-method__container">
                
            </div>
        </div>
    </section>
</main>
<%- include('../includes/end.ejs'); %>